

html, body, #root {
  min-height: 90%;
}

body {
  background-color: #2d2d2d !important;
}



.carousel-frame {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;         
  background: #111;
  overflow: hidden;
}


.slide-img {
  position: absolute;
  inset: 0;                    
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-position: center;
}


.tall-img {
  object-fit: contain;
  width: auto;
  height: 85%;
  background-color: #1a1a1a;
  /* object-position: center top; */
}


.wide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media (max-width: 576px) {
  .tall-img { height: 92%; }
  .carousel-caption { bottom: 50%; }
}


.carousel-caption {
  bottom: 18%;
}